flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Telegram-Tester",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67c40db7.8c5074",
        "type": "tab",
        "label": "MQTT-Broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fec999a.0284068",
        "type": "telegram bot",
        "botname": "AlertEventBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f8c4b6f0.b800e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a71cdb51.e2f478",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "9f6cc921.0492a8"
            ]
        ]
    },
    {
        "id": "9f6cc921.0492a8",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "6af5bdac.3470d4",
        "type": "telegram receiver",
        "z": "3af82246.3634ae",
        "name": "",
        "bot": "fec999a.0284068",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b41db8b.a796b48",
                "9f6cc921.0492a8"
            ],
            []
        ]
    },
    {
        "id": "b41db8b.a796b48",
        "type": "telegram sender",
        "z": "3af82246.3634ae",
        "name": "",
        "bot": "fec999a.0284068",
        "haserroroutput": false,
        "outputs": 1,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "61e61209.83642c"
            ]
        ]
    },
    {
        "id": "61e61209.83642c",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbbdf342.481e4",
        "type": "aedes broker",
        "z": "67c40db7.8c5074",
        "name": "MQTT-Broker",
        "mqtt_port": 1883,
        "mqtt_ws_port": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4a14b44.b6a164c",
        "type": "inject",
        "z": "67c40db7.8c5074",
        "name": "MQTT Test Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tests/mqtt",
        "payload": "Test Msg",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a48a5de1.36ced"
            ]
        ]
    },
    {
        "id": "a48a5de1.36ced",
        "type": "mqtt out",
        "z": "67c40db7.8c5074",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "f8c4b6f0.b800e8",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "9f9031d6.3c591",
        "type": "mqtt in",
        "z": "67c40db7.8c5074",
        "name": "",
        "topic": "tests/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "f8c4b6f0.b800e8",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "2ed3b527.a5549a"
            ]
        ]
    },
    {
        "id": "2ed3b527.a5549a",
        "type": "debug",
        "z": "67c40db7.8c5074",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 320,
        "wires": []
    }
]